<ion-header *ngFor="let lists of list" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{lists.title}}</ion-title>
    <ion-buttons slot="end">
      <!--<ion-button (click)="loadMap()" shape="round" color="dark">
        <ion-icon slot="start" name="locate"></ion-icon>
        Dove sono
      </ion-button>-->
      <ion-button color="black" (click)='prosesLogout()'>
        <ion-icon *ngIf="visible" slot="icon-only" name="exit"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!visible" color="success" routerLink="/accedi/Login">
        Login
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content *ngFor="let lists of list" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">Guarda la galleria</h1>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img class="img-fluid" src="{{'data:image/jpg;base64,' + lists.img1}}">
        <p>{{lists.description}}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img class="img-fluid" src="{{'data:image/jpg;base64,' + lists.img2}}">

    </ion-slide>

    <ion-slide>
      <img class="img-fluid" src="{{'data:image/jpg;base64,' + lists.img3}}">

    </ion-slide>

    <ion-slide>
      <img class="img-fluid" src="{{'data:image/jpg;base64,' + lists.img4}}">

    </ion-slide>

  </ion-slides>




  <div class="map-wrapper">
    <div id="map_center">
      <img src="assets/images/map-marker-icon.png" />
    </div>
    <div #map id="map"></div>
  </div>

  <div [fullscreen]="true">
    <ion-item>
      <ion-label>Filtra per stelle</ion-label>
      <ion-select [(ngModel)]='filter' name="prezzo" value="0" okText="Scegli" cancelText="Chiudi" id="filter">
        <ion-select-option value="1">1 Stella</ion-select-option>
        <ion-select-option value="2">2 Stelle</ion-select-option>
        <ion-select-option value="3">3 Stelle</ion-select-option>
        <ion-select-option value="4">4 Stelle</ion-select-option>
        <ion-select-option value="5">5 Stelle</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" color="success" class="ion-no-margin"
          (click)="tryFilter()" [disabled]="disabledButton">Filtra</ion-button>
          <ion-button expand="block" color="primary" class="ion-no-margin"
          (click)="deleteFilter()" [disabled]="disabledButton">Cancella filtri</ion-button>
  </div>

  <div *ngIf="!filtro">
  <div *ngFor="let liste of lista" [fullscreen]="true">
    <ion-item id="{{liste.rating}}">
      <ion-avatar slot="start">
        <img src="../../assets/images/94x94.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{liste.username}}</h2>
        <h3>{{liste.titolo}}</h3>
        <p>{{liste.recensione}}</p>
        <h4 *ngIf="liste.rating==1">
          <ion-icon color="primary" name="star" ></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </h4>
        <h4 *ngIf="liste.rating==2">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </h4>

        <h4 *ngIf="liste.rating==3">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </h4>
        <h4 *ngIf="liste.rating==4">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </h4>
        <h4 *ngIf="liste.rating==5">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
        </h4>
      </ion-label>
    </ion-item>
  </div>
</div>
<div *ngIf="filtro">
  <div  *ngFor="let liste of newlist" [fullscreen]="true">
    <ion-item id="{{liste.rating}}">
      <ion-avatar slot="start">
        <img src="../../assets/images/94x94.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{liste.username}}</h2>
        <h3>{{liste.titolo}}</h3>
        <p>{{liste.recensione}}</p>
        <h4 *ngIf="liste.rating==1">
          <ion-icon color="primary" name="star" ></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </h4>
        <h4 *ngIf="liste.rating==2">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </h4>

        <h4 *ngIf="liste.rating==3">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </h4>
        <h4 *ngIf="liste.rating==4">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </h4>
        <h4 *ngIf="liste.rating==5">
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
          <ion-icon color="primary" name="star"></ion-icon>
        </h4>
      </ion-label>
    </ion-item>
  </div>
</div>

    <div *ngIf="!visible">
      <div class="widget_title">
        <h6>Accedere per scrivere recensione</h6>
      </div>
      <ion-button color="success" routerLink="/accedi/Login">
        Login
      </ion-button>
    </div>
    <div *ngIf="visible">
      <div class="widget_title">
        <h4>Scrivi una recensione</h4>
      </div>
      <div class="form-group">
        <ion-label position="floating">Quante stelle vuoi dargli?</ion-label>
        <div *ngIf="rating==0">
          <ion-icon color="primary" name="star-outline" (click)="onRate(1)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rating==1">
          <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rating==2">
          <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>

        <div *ngIf="rating==3">
          <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rating==4">
          <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
          <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rating==5">
          <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
          <ion-icon color="primary" name="star" (click)="onRate(5)"></ion-icon>
        </div>
        <ion-list no-lines padding-top>
          <ion-item>

          </ion-item>
          <ion-item>
            <ion-label position="floating">Inserisci e-mail</ion-label>
            <ion-input type="text" placeholder="you@website.com" [(ngModel)]='email'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Inserisci titolo</ion-label>
            <ion-input type="text" placeholder="Titolo" [(ngModel)]='titolo'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cosa pensi di loro?</ion-label>
            <ion-textarea [(ngModel)]='recensione' cols="50" rows="5" placeholder="Scrivi la tua opinione"  required></ion-textarea>
          </ion-item>
        </ion-list>
        <ion-button expand="block" color="success" class="ion-no-margin"
          (click)="tryReview(lists.id, datastorage.username, datastorage.id)" [disabled]="disabledButton">Invia
          Recensione</ion-button>
      </div>
    </div>

  <!-- <ion-content>
     Listings 

  </ion-content> -->
</ion-content>